@import './index.scss';

.footer {
    height: 75px;
    color: map-get($colours, "yellow");
    background-color: map-get($colours, "blue");
    z-index: 100;
    border-top-style: solid;
    border-color: black;
    border-width: 2px;
    // position: fixed;
    bottom: 0;
    @include flex-r;
    justify-content: flex-start;
    padding-left: 300px;


    .react-icons {
        color: white;
        padding: 20px;
    }
    .react-icons:hover {
        color: map-get($colours, "yellow");
    }
    
}

#credit {
    color: black;
    padding: 30px;
    @include flex-r;
    justify-content: flex-end;
    width: 100vp;
}