@import './index.scss';

.header {
    @include flex-r;
    justify-content: flex-end;
    background-color: map-get($colours, "blue");
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    img {
        height: 150px;
        padding-right: 100px;
    }
}