// @import './index.scss';

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #faf4b7;
    #headingA {
        text-align: center;
        font-weight: lighter;
    }
    #icons {
        display: flex;
        justify-content: space-evenly;
        padding-top: 100px;
        color: #76d7f5;
        a:active {
            color: #76d7f5;
        }
        a:visited {
            color: #14b4e4;
        }
    }
}
