@import './index.scss';

.footer {
    background-color: map-get($colours, "yellow");
    color: map-get($colours, "grey");
    bottom: 0;
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;

    // #icons {
    //     width: 100vw;
    // }
    .react-icons {
        // @include flex-r;
        align-items: center;
        color: map-get($colours, "grey");
        padding: 15px;
        margin: 0
    }
    #credit {
        padding-bottom: 20px;
    }
}
