@import './index.scss';


.footer {
    background-color: map-get($colours, "yellow");
    color: map-get($colours, "grey");
    bottom: 0;
    position: relative;
    margin: auto;
    text-align: center;
    #icons {
        width: 100vw;
    }
    .react-icons {
        // @include flex-r;
        align-items: center;
        color: map-get($colours, "grey");
        padding: 15px;
        margin: 0
    }
    #credit {
        padding-bottom: 20px;
    }
}


// .footer {
//     height: 75px;
//     color: map-get($colours, "grey");
//     background-color: map-get($colours, "yellow");
//     z-index: 100;
//     border-top-style: solid;
//     border-color: black;
//     border-width: 2px;
//     // position: fixed;
//     bottom: 0;
//     @include flex-r;
//     justify-content: flex-start;
//     padding-left: 300px;


//     .react-icons {
//         color: map-get($colours, "grey");
//         padding: 20px;
//     }
//     .react-icons:hover {
//         color: map-get($colours, "link");
//     }
    
// }

// #credit {
//     color: black;
//     padding: 30px;
//     @include flex-r;
//     justify-content: flex-end;
//     width: 100vp;
// }