@import './index.scss';

.home-view {
    padding-top: 100px;
    padding-bottom: 75px;
    @include flex-c;
    align-items: center;
    h3 {
        font-weight: lighter;
        padding: 35px;
        margin: 0;
    }
    #quick-links {
        @include flex-c;
        justify-content: space-between;
        padding: 20px 20px 100px 20px;
        #buttons { 
            padding: 10px;
            text-decoration: none;
            border-style: double;
            border-width: thick;
            border-color: map-get($colours, "grey");
            margin: 20px;
        }
        #buttons:hover{
            background-color: map-get($colours, "link");
        }
    }
    #midsection {
        padding: 25px 10px 25px 20px;
        text-align: center;
        font-weight: bolder;
        border-style: solid;
        border-color: map-get($colours, "grey");
        #icon {
            opacity: 0.4;
        }
        #icon:hover {
            color: map-get($colours, "link");
            transform: rotate(360deg);
            transition: transform 3s;
        }
    }
    #testes {
        @include flex-c;
        align-items: center;
        margin: 0;
        padding-top: 150px;

        .cards{
            @include flex-c;
            align-items: center;
            margin: auto;
        }
    }
}


@media only screen and (min-width: 600px) {
    .home-view {
        padding: 30px 100px 100px 300px;
        margin-top: 30px;
        font-size: 1.2em;
        h3 {
            font-weight: lighter;
            font-size: 1.8rem;
            text-align: center;
            padding-bottom: 40px;
        }
        #quick-links {
        @include flex-r;
        justify-content: space-evenly;
        padding-bottom: 150px;
            #buttons {
                font-size: 2rem;
                margin: 30px;
                color: black;
                text-decoration: none;
                padding: 5px;
                border-style: double;
                border-width: thick;
                border-color: map-get($colours, "grey");
            }
            #buttons:hover{
                background-color: map-get($colours, "link");
            }
        }
        #midsection{
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding-right: 15px;
            #icon {
                padding: 80px;
                grid-area: "icon";
            }
            #icon:hover {
                color: map-get($colours, "yellow");
                transform: rotate(360deg);
                transition: transform 3s;
            }
        }
        #testes {
            text-align: center;
            #card{
                font-size: 1em;
            }
        }
    }
}
