@import './index.scss';

.home-view {
    @include flex-c;
    justify-content: flex-end;
    align-items: center;
    padding-left: 200px;
    margin-top: 30px;
    font-size: 2rem;
    #quick-links {
       @include flex-r;
       justify-content: space-evenly;
    }
    #buttons {
        font-size: 2rem;
        margin: 30px;
        color: black;
        text-decoration: none;
        padding: 5px;
        border-style: double;
        border-width: thick;
        border-color: map-get($colours, "grey");
    }
    #buttons:hover{
        background-color: map-get($colours, "blue");
    }
}