// @use "sass:map";

$colours: (
    "yellow": #faf4b7,
    "blue": #76d7f5,
    "grey": #909090,

    "bkgnd-colour": white,
    "link": #88b4ff
);

@mixin flex-r {
    display: flex;
    flex-direction: row;
}

@mixin flex-c {
    display: flex;
    flex-direction: column;
}

// @mixin buttons {
//     size: 32px;
//     font-style: none;
//     // color: #;
// }

body {
    background-color: map-get($colours, "bkgnd-colour");
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding-bottom: 50px;
    height: 100vh;
}

// Desktop
@media screen and (min-width: 600px) {
    body {
        padding-top: 200px;
        padding-bottom: 150px;
    }
}