// @use "sass:map";

$colours: (
    "yellow": #faf4b7,
    "blue": #76d7f5,
    "grey": #909090,

    "bkgnd-colour": white,
    "link": #88b4ff
);

@mixin flex-r {
    display: flex;
    flex-direction: row;
}

@mixin flex-c {
    display: flex;
    flex-direction: column;
}

// @mixin buttons {
//     size: 32px;
//     font-style: none;
//     // color: #;
// }

body {
    background-color: map-get($colours, "bkgnd-colour");
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding-bottom: 50px;
}

// Desktop
@media screen and (max-width: 1024px) {

}

// Phone
@media screen and (max-width: 420px) {
    #container {
        display: flex;
        flex-wrap: wrap;
        width: 100% vp;
        padding-bottom: 50px;
        h1 {
            padding: 75px 45px;
            font-size: 3rem;
        }
    }
}
