@import './index.scss';

.nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    z-index: 5;
    #myLinks {
        display: none;
    }
    a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    a:hover {
        background-color: #ddd;
        color: black;
    }
    .active {
        background-color: #4CAF50;
        color: white;
      }
}

  


@media only screen and (min-width: 600px) {
    .nav {
        @include flex-c;
        position: fixed;
        height: 100 vh;
        width: 200px;
        background-color: white;
        padding-top: 175px;
        z-index: 100;
        top: 0;
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: black;
        a {
            color: black;
            font-size: 1.8rem;
            text-decoration: none;
            padding-bottom: 100px;
            padding-left: 20px;
        };
        a:hover {
            color: map-get($colours, "link");
        }
    }
}