@import './index.scss';

.services {
    padding-top: 100px;
    padding-bottom: 150px;
    @include flex-c;
    align-items: center;
    h1 {
        font-weight: lighter;
        text-align: center;
    }
    #options {
        @include flex-c;
        align-items: center;
        width: 75%;
    }
    #links {
        padding: 10px;
        border-style: double;
        border-width: thick;
        border-color: map-get($colours, "grey");
        margin: 20px;
        a {
            text-decoration: none;
        }
    }
    #links:hover {
        background-color: map-get($colours, "link");
    }
}

@media only screen and (min-width: 600px) {

    .services {
        padding: 30px 100px 100px 300px;
        margin-top: 30px;
        font-size: 1.2em;
    }
    #links {
        padding: 10px;
        border-style: double;
        border-width: thick;
        border-color: map-get($colours, "grey");
        margin: 20px;
        a {
            text-decoration: none;
        }
    }
    #links:hover {
        background-color: map-get($colours, "link");
    }
}