@import './index.scss';

.testimonials {
    width: 70%;
    #card {
        border-radius: 5%;
        padding: 15px;
        margin: 25px;
        background-color: map-get($colours, "grey");
    }
}