@import './index.scss';

.testimonials {
    #card {
        border-radius: 50px;
        padding: 15px;
        margin: 25px;
        background-color: map-get($colours, "grey");
    }
}
// @media only screen and (min-width: 600px) {

// }